label {
  width:45%;
  cursor:pointer;
  background-color:white;
  border: solid black 4px;
  display: inline-block;
}
img {
  width: 100%;
  margin: auto;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked+label {
  background-color:  #1E90FF;
}
